<!DOCTYPE html>
<html>
<head>
  <title>Coms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron" style="padding: 20px;">
    <div class="panel panel-default" style="padding: 20px;">
      <%= yield %>
    </div>
  </div>
</body>
</html>
